@page "/products"
@using Ecommerce.Domain.ProductContext.Entities
@inject HttpClient HttpClient
<h3>Product List</h3>

<div class="row">
    @foreach (var productItem in _products)
    {
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@productItem.Name</h5>
                    <p class="card-text">Price: @productItem.Price</p>
                    <p class="card-text">Quantity: @productItem.Quantity</p>
                    <a href="/cart/@productItem.Id" class="btn btn-primary">Buy</a>
                </div>
            </div>
        </div>
    }
</div>

@code {
    private List<Product>? _products = [];

    protected override async Task OnInitializedAsync()
    {
        _products = await HttpClient.GetFromJsonAsync<List<Product>>("http://localhost:5281/v1/products");
        await base.OnInitializedAsync();
    }
}